.rainbow-border {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to right,
        #ff7e5f,
        #feb47b,
        #ffcc70,
        #6bff6b,
        #6b83ff,
        #ff6b6b,
        #ff7e5f
      )
      border-box;
}

.rainbow-border-large {
  border: 3px solid transparent;
  border-radius: 0.75rem;
  background: linear-gradient(
        var(--textColorOpposite),
        var(--textColorOpposite)
      )
      padding-box,
    linear-gradient(
        to right,
        #ff7e5f,
        #feb47b,
        #ffcc70,
        #6bff6b,
        #6b83ff,
        #ff6b6b,
        #ff7e5f
      )
      border-box;
}

.rainbow-border-active {
  border: 3px solid transparent;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #fff, #f9fafb) padding-box,
    linear-gradient(
        to right,
        #ff7e5f,
        #feb47b,
        #ffcc70,
        #6bff6b,
        #6b83ff,
        #ff6b6b,
        #ff7e5f,
        #ff7e5f,
        #feb47b,
        #ffcc70,
        #6bff6b,
        #6b83ff,
        #ff6b6b,
        #ff7e5f /* Double the colors for a seamless loop */
      )
      border-box;
  background-size: 200% 100%; /* Stretch the gradient wider */
  animation: rainbowFlow 1.5s linear infinite; /* Slower for smoothness */
}

.rainbow-border-active:focus {
  border-color: transparent;
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%; /* Shift the gradient fully */
  }
}
